<div class="bg-image flex justify-center items-start md:items-center">
    <div class="pt-20 md:pt-0 text-center space-y-9 px-5 capitalize z-10">
        <h2 class="text-3xl text-white font-bold font-mono">Your gate to explore the world</h2>
        <div class="flex justify-center items-center">
            <a routerLink="/Search" routerLinkActive="active"
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 font-medium rounded-lg px-5 py-2.5 text-center inline-flex items-center me-2 mb-2">
                <mat-icon class="rotate-45 ">airplanemode_active</mat-icon>
                <span>
                    Start your journaway
                </span>
            </a>
        </div>
    </div>
</div>