<div class="md:flex justify-center items-center py-10 px-5 bg-white md:space-x-14 md:px-20 lg:space-x-20 lg:px-20">
    <div class="">
        <img src="assets/images/airplane.gif">
    </div>
    <div class="">
        <h2>Flights</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae repudiandae consectetur molestiae ab
            praesentium aut beatae consequuntur accusamus illo unde quas, exercitationem veniam minima quos quod facilis
            accusantium magnam cupiditate. 
        </p>
    </div>
</div>