<div class="flex justify-center items-center h-[80dvh] py-10 capitalize">
    <div class="">
        <h2>Oops, you flew so far away.</h2>
        <div class="flex justify-center items-center">
            <a routerLink='/' routerLinkActive="active"
                class="flex justify-center items-center px-3 w-1/2 lg:px-5 py-2 bg-[#4e72b7] text-white rounded-lg hover:bg-[#365287] focus:outline-none focus:ring-2 focus:ring-[#4e72b7] focus:ring-opacity-50 transition duration-200">
                <span>Go back home</span>
            </a>
        </div>
    </div>
</div>